{% load static %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% csrf_token %}
    <!-- header -->
    <header>
      <div class="navigation-container">
        <div class="top-head">
          <div class="web-name">
            <h1>TECHNEWS</h1>
          </div>
        </div>

        <!-- nav bar -->

        <div class="nav-bar" id="nav-bar">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Trending</a></li>
              <li>
                <div class="search">
                  <button>
                    <i class="fa fa-search"></i>
                  </button>
                  <input type="search" placeholder="Enter keyword" />
                </div>
              </li>
              <li>
                <div class="opt">
                  <button class="drp">Location</button>
                  <div class="cont">
                    <a href="#" class="link"> Australia </a>
                    <a href="#" class="link"> Brazil </a>
                    <a href="#" class="link"> China </a>
                    <a href="#" class="link"> France </a>
                    <a href="#" class="link"> Germany </a>
                    <a href="#" class="link"> India </a>
                    <a href="#" class="link"> Italy </a>
                    <a href="#" class="link"> Japan </a>
                    <a href="#" class="link"> Russia </a>
                    <a href="#" class="link"> Saudi Arabia </a>
                    <a href="#" class="link"> Singapore </a>
                    <a href="#" class="link"> South Africa </a>
                    <a href="#" class="link"> United Kingdom </a>
                    <a href="#" class="link"> United States </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="options">
                  <button class="drpbtn">Options</button>
                  <div class="content">
                    <a href="/genres" class="links">Change genres</a>
                    <a href="#" class="links">Change password</a>
                  </div>
                </div>
              </li>
              <li>
                <form action="logout">
                  <div class="log">
                    <button class="logout">
                      <i class="fa fa-user"></i> Logout
                    </button>
                  </div>
                </form>
              </li>
            </ul>
          </nav>
        </div>

        <!--social icons -->
      </div>
    </header>

    <script>
      let click = document.querySelector(".drpbtn");
      let list = document.querySelector(".content");
      click.addEventListener("click", () => {
        list.classList.toggle("newlist");
      });

      let click1 = document.querySelector(".drp");
      let list1 = document.querySelector(".cont");
      click1.addEventListener("click", () => {
        list1.classList.toggle("newlist1");
      });
    </script>
    <script src="script.js" async defer></script>
  </body>
</html>
